:root{
  --color-primary: #86ff4b;
}





body{
  background: #000020 ;

  background-image: linear-gradient(
    0deg,
    hsl(190deg 70% 37%) 0%,
    hsl(200deg 86% 21%) 50%,
    hsl(240deg 100% 6%) 100%
  );
}

textarea:focus, input:focus{
  outline: none;
}





/* componente header   */
.bouncing{
  
  position: relative;
    animation: bounce 2s infinite;
  }

@keyframes bounce {
    0% {
      top:0px
    }
    50% {
     top:15px;
    }
    100% {
      top:0px
    }
  }

/* componente search */
.search-cont{
    background: transparent;
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 1rem 0 var(--color-primary);
}

.search{
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font: 1.6rem ;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* componente categorys  */

  .select{
    background: #000020 fixed linear-gradient(#000014,#000028 70%,#000050);
      border: 1px solid var(--color-primary);
      border-radius: 1rem;
      color: var(--color-primary);
      cursor: pointer;
      display: inline-block;
      font: 1.6rem ;
      overflow-x: hidden;
      padding: 0.5rem;
      white-space: nowrap;
  }
  
  .select:focus{
    outline: 2px dashed var(--color-primary);
      outline-offset: 3px;
  }

  /* componente cards */

  .title-img{
    
    color: var(--color-primary)!important;
  }


  /* componente modal */
  .modal-container
  {
    position:fixed;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.65);
  }

  .modal-text-container{
   
    background-image: linear-gradient(
    0deg,
    hsl(190deg 70% 37%) 0%,
    hsl(200deg 86% 21%) 50%,
    hsl(240deg 100% 6%) 100%);
  }

  .modal-text-container h2{
    color: var(--color-primary);
  }


